#body{
    width: 80%;
    margin: 10px auto;
}
.category{
    display: inline-block;
    width: 31%;
    height: 280px;
    margin: 0.25%;

}
.category img{
    border-radius: 5px;
}
.category p{
    position: relative;
    top:-175px;
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 15px #772be8,0px 0px 15px #772be8,0px 0px 15px #772be8;
    word-spacing: 3px;
}