#body div div{
    margin: 20px;
    border-radius: 10px;
    background-color: rgba(244, 239, 255, 0.9);
    padding:10px 7px;
}
#body{
    width: 80%;
    display: flex;
    margin: 0 auto;
}
.passage_info{
    height: 180px;
    display: flex;
}

.pic{
    flex:30%;
    margin: 0px !important;
    padding: 0px !important;
    background-color: rgba(244, 239, 255, 0) !important;
}
.pic img{
    height: 180px;
}
.info{
    flex:70%;
    overflow: hidden;
}
#body_left{
    flex: 25%;
}
.info{
    margin: 10px !important;
    background-color: rgba(244, 239, 255, 0) !important;
}
#body_right{
    flex: 75%;
}
li{
    font-size: 15px;
    color: grey;
    margin: 4px;
}
p{
    font-size: 15px;
    color: grey;
    margin: 4px;
}
.title1{
    font-size: 25px;
    color: #646464;
}
